<h1>動画一覧</h1>
<% @movies.each do |movie| %>
<%= video_tag(movie.video.to_s, loop: true, autoplay: true, muted: true, controls: true) %>
<td><%= link_to movie.name, movie_path(movie.id) %></td>
<% end %>